<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">
<head>
</head>
<aside class="main-sidebar">
	<section class="sidebar">
		<ul class="sidebar-menu" data-widget="tree">
			<!-- <li class="header">HEADER</li> -->
			<!-- Optionally, you can add icons to the links -->
			<li id="usetools-menu"><a href="#"  th:href="@{/portfolio/useTools/index}"><i class="fa fa-wrench"></i> <span>使用技術</span></a></li>
			<li id="memo-menu"><a href="#"  th:href="@{/portfolio/memo/index}"><i class="fa fa-edit "></i> <span>メモ	</span></a></li>
			<li id="certificate-menu"><a href="#"  th:href="@{/portfolio/certificate/index}"><i class="fa fa-object-group"></i> <span>所有資格</span></a></li>
			<li id="decklist-menu"><a  href="#" th:href="@{/portfolio/deck/list}"><i class="fa fa-diamond"></i> <span>所有デッキ一覧</span></a></li>
			<li id="inquiry-menu"><a  href="#" th:href="@{/portfolio/inquiry/index}"><i class="fa fa-envelope"></i> <span>問い合わせ</span></a></li>
		</ul>
		<!-- /.sidebar-menu -->
	</section>
	<!-- /.sidebar -->
</aside>
</body>
</html>