<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::style},~{::body/content()})}">
<head>
<title>トップページ</title>
<style></style>

</head>
<body class=" skin-blue sidebar-mini">
	<div class="wrapper">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content">
				<div class="row">
					<div class="col-lg-12">
						<div class="col-sm-6">
							<!-- DONUT CHART -->
							<div class="box box-primary">
								<div class="box-header with-border">
									<h3 class="box-title">使用デッキ割合</h3>

									<div class="box-tools pull-right">
										<button type="button" class="btn btn-box-tool" data-widget="collapse">
											<i class="fa fa-minus"></i>
										</button>
									</div>
								</div>
								<div class="box-body">
									<canvas id="pieChart" style="height: 250px"></canvas>
								</div>
								<!-- /.box-body -->
							</div>
							<!-- /.box -->
						</div>
						<div class="col-sm-6">
							<!-- DONUT CHART -->
							<div class="box box-primary">
								<div class="box-header with-border">
									<h3 class="box-title">使用数Top5</h3>
									<div class="box-tools pull-right">
										<button type="button" class="btn btn-box-tool" data-widget="collapse">
											<i class="fa fa-minus"></i>
										</button>
									</div>
								</div>
								<div class="box-body">
									<canvas id="barChart" style="height: 250px"></canvas>
								</div>
								<!-- /.box-body -->
							</div>
							<!-- /.box -->
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">所有デッキ一覧</h3>
								<div class="pull-right">
									<a class="btn btn-danger" data-toggle="modal" data-target="#insertModal">新規登録</a>
									<a class="btn btn-primary">帳票出力</a>
									<a th:href="@{/deck/excel}" class="btn btn-primary">エクセル出力</a>
								</div>
							</div>
							<div class="box-body">
								<table id="decktable" class="table table-bordered">
									<thead>
										<tr>
											<th>デッキ名</th>
											<th>勝利</th>
											<th>引き分け</th>
											<th>敗北</th>
											<th>決闘数</th>
											<th></th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="deck : ${deckForm.deckList}">
											<td>
												<span id="deckName" th:text="${deck.deckname}"></span> 
											</td>
											<td>
												<p id="win" th:text="${deck.win}" />
											</td>
											<td>
												<p id="draw" th:text="${deck.draw}" />
											</td>
											<td>
												<p id="lose" th:text="${deck.lose}" />
											</td>
											<td>
												<p th:text="${deck.lose + deck.win + deck.draw}" />
											</td>
											<td>
												<a name="updateBtn" data-toggle="modal" data-target="#updateModal" th:attr="data-id=${deck.id},data-deckName=${deck.deckname},data-win=${deck.win},data-lose=${deck.lose},data-draw=${deck.draw}">
													<i class="fa fa-pencil pull-right"></i>
												</a>
											</td>
											<td>
												<a name="trashBtn" data-toggle="modal" data-target="#deleteModal" th:attr="data-id=${deck.id}"><i class="fa fa-trash-o pull-right" ></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="box-footer">
								
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="content container-fluid"></section>
		</div>
	</div>
<!-- 登録モーダル -->
<div class="modal" id="insertModal" tabindex="-1">
	<form th:action="@{/deck/insert}" class="form-horizontal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
					<h4 class="modal-title">登録</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
				        <label class="col-sm-2 control-label">デッキ名</label>
				        <div class="col-sm-10">
				        	<input type="text" class="form-control" required="required" name="deckName" placeholder="デッキ名"/>
				        </div>
				    </div>
					<div class="form-group">
				        <label class="col-sm-2 control-label">勝利</label>
				        <div class="col-sm-2">
				        	<input type="number" min="0" class="form-control" required="required" name="win"/>
				        </div>
				    </div>
					<div class="form-group">
				        <label class="col-sm-2 control-label">引き分け</label>
				        <div class="col-sm-2">
				        	<input type="number" min="0" class="form-control" required="required"   name="draw"/>
				        </div>
				    </div>
					<div class="form-group">
				        <label class="col-sm-2 control-label">敗北</label>
				        <div class="col-sm-2">
				        	<input type="number" min="0" class="form-control" required="required"  name="lose"/>
				        </div>
				    </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
					<button class="btn btn-primary">登録する</button>
				</div>
			</div>
		</div>
	</form>
</div>
<!-- 更新モーダル -->
<div class="modal" id="updateModal" tabindex="-1">
	<form th:action="@{/deck/update}" class="form-horizontal">
		<input type="hidden" name="id" id="updateTargetId">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
					<h4 class="modal-title">更新</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
				        <label class="col-sm-2 control-label">デッキ名</label>
				        <div class="col-sm-10">
				        	<input type="text" class="form-control" id="modalDeckName" required="required" name="deckName" placeholder="デッキ名"/>
				        </div>
				    </div>
					<div class="form-group">
				        <label class="col-sm-2 control-label">勝利</label>
				        <div class="col-sm-2">
				        	<input type="number" min="0" class="form-control modalNumber" required="required"  id="modalWin"  name="win"/>
				        </div>
				    </div>
					<div class="form-group">
				        <label class="col-sm-2 control-label">引き分け</label>
				        <div class="col-sm-2">
				        	<input type="number" min="0" class="form-control modalNumber" id="modalDraw" required="required"   name="draw"/>
				        </div>
				    </div>
					<div class="form-group">
				        <label class="col-sm-2 control-label">敗北</label>
				        <div class="col-sm-2">
				        	<input type="number" min="0" class="form-control modalNumber" id="modalLose" required="required"  name="lose"/>
				        </div>
				    </div>
					<div class="form-group">
				        <label class="col-sm-2 control-label">決闘数</label>
				        <div class="col-sm-2">
				        	<input type="number" readonly="readonly" min="0" class="form-control" id="modalDuels" name="modalDuels"/>
				        </div>
				    </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
					<button id="modalUpdateBtn" class="btn btn-primary">更新する</button>
				</div>
			</div>
		</div>
	</form>
</div>
<!-- 削除モーダル -->
<div class="modal" id="deleteModal" tabindex="-1">
	<form th:action="@{/deck/delete}">
		<input type="hidden" name="id" id="deleteTargetId">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
					<h4 class="modal-title">削除確認</h4>
				</div>
				<div class="modal-body">
					削除しますか？
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
					<button class="btn btn-primary">削除する</button>
				</div>
			</div>
		</div>
	</form>
</div>

<script src="/js/deck/index.js" th:src="@{/js/deck/index.js}"></script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
 var ctx = document.getElementById("pieChart").getContext('2d');
 var ChartDemo = new Chart(ctx, {
     type: 'pie',
     data: {
         // コントローラーで格納したlabelを変数式で取り出すだけ。
         labels: /*[[ ${decknameList} ]]*/,
         datasets: [
             {
                 label: "使用デッキ",
                 backgroundColor: /*[[ ${backColorList} ]]*/,
                 data: /*[[ ${duelNumberList} ]]*/,
             },
         ]
     },
     options: {
         responsive: true,
     }
 });
  
var ctx = document.getElementById("barChart").getContext('2d');
var ChartDemo = new Chart(ctx, {
    type: 'bar',
    data: {
        // コントローラーで格納したlabelを変数式で取り出すだけ。
        labels: /*[[ ${TopFiveNameList} ]]*/,
        datasets: [
            {
                label: "使用数Top5",
                backgroundColor: /*[[ ${backColorList} ]]*/,
                data: /*[[ ${TopFiveNumberList} ]]*/,
            },
        ],

    },
    options: {
        responsive: true,
        legend: {                          //凡例設定
          display: false                 //表示設定
     },
    }
});
/*]]>*/
</script>
</body>

</html>