<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::style},~{::body/content()})}">
<head>
<title>使用技術</title>
<style></style>

</head>
<body class=" skin-blue sidebar-mini">
	<div class="wrapper">
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					資格取得 <small>Timeline</small>
				</h1>
			</section>

			<!-- Main content -->
			<section class="content">

				<ul class="timeline">
					<li class="time-label"><span class="bg-red"> 2011年10月 </span></li>
					<li><i class="fa fa-user bg-red"></i>
						<div class="timeline-item">
							<h3 class="timeline-header">宅地建物取引主任者</h3>
							<div class="timeline-body">不動産取引の専門家（宅建士）を示す資格</div>
						</div></li>
					<li class="time-label"><span class="bg-aqua"> 2012年6月 </span></li>
					<li><i class="fa fa-user bg-aqua"></i>
						<div class="timeline-item">
							<h3 class="timeline-header">ITパスポート</h3>
							<div class="timeline-body">情報技術に関する基礎的な知識を証明</div>
						</div></li>
					<li class="time-label"><span class="bg-yellow"> 2015年1月 </span></li>
					<li><i class="fa fa-user bg-yellow"></i>
						<div class="timeline-item">
							<h3 class="timeline-header">RICCAD1級</h3>
							<div class="timeline-body">エクステリアの作図技能の最上位資格</div>
						</div></li>
					<li class="time-label"><span class="bg-green"> 2016年10月 </span></li>
					<li><i class="fa fa-user bg-green"></i>
						<div class="timeline-item">
							<h3 class="timeline-header">Java7シルバー</h3>
							<div class="timeline-body">Javaの技能証明</div>
						</div></li>
					<li class="time-label"><span class="bg-purple"> 〜現在〜 </span></li>
				</ul>

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
	<script>
    $('#certificate-menu').removeClass('active').addClass('active');
  </script>
</body>

</html>