<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::style},~{::body/content()})}">
<head>
<title>使用技術</title>
<style></style>

</head>
<body class=" skin-blue sidebar-mini">
	<div class="wrapper">
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					資格取得年表 <small>年表</small>
				</h1>
			</section>

			<!-- Main content -->
			<section class="content">

				<ul class="timeline">
					<li class="time-label"><span class="bg-red"> 2008年12月 </span></li>
					<li><i class="fa fa-gavel bg-red"></i>
						<div class="timeline-item">
							<h3 class="timeline-header">宅地建物取引主任者</h3>
							<div class="timeline-body">不動産取引の専門家（宅建士）を示す資格</div>
						</div></li>
					<li class="time-label"><span class="bg-aqua"> 2014年4月 </span></li>
					<li><i class="fa fa-keyboard-o bg-aqua"></i>
						<div class="timeline-item">
							<h3 class="timeline-header">ITパスポート</h3>
							<div class="timeline-body">情報技術に関する基礎的な知識を保有することを示す資格</div>
						</div></li>
					<li class="time-label"><span class="bg-aqua"> 2014年8月 </span></li>
					<li><i class="fa fa-keyboard-o bg-aqua"></i>
						<div class="timeline-item">
							<h3 class="timeline-header">MOS Excel2010</h3>
							<div class="timeline-body">Excel2010の基本的操作が可能であることを示す資格</div>
						</div></li>
					<li class="time-label"><span class="bg-red"> 2014年9月 </span></li>
					<li><i class="fa fa-gavel bg-red"></i>
						<div class="timeline-item">
							<h3 class="timeline-header">エクステリア&ガーデンライティングマイスター</h3>
							<div class="timeline-body">エクステリア照明に関する知識があることを示す資格</div>
						</div></li>
					<li class="time-label"><span class="bg-red"> 2015年1月 </span></li>
					<li><i class="fa fa-gavel bg-red"></i>
						<div class="timeline-item">
							<h3 class="timeline-header">2級エクステリアプランナー</h3>
							<div class="timeline-body">エクステリア施工知識があることを示す資格</div>
						</div></li>
					<li class="time-label"><span class="bg-red"> 2015年4月 </span></li>
					<li><i class="fa fa-gavel bg-red"></i>
						<div class="timeline-item">
							<h3 class="timeline-header">RIKCADオペレーション技能検定1級</h3>
							<div class="timeline-body">RIKCADを用いたエクステリアデザイン技能の最上位資格</div>
						</div></li>
					<li class="time-label"><span class="bg-aqua"> 2016年1月 </span></li>
					<li><i class="fa fa-keyboard-o bg-aqua"></i>
						<div class="timeline-item">
							<h3 class="timeline-header">JavaプログラマーシルバーSE７</h3>
							<div class="timeline-body">Javaの技能証明資格</div>
						</div></li>
					<li class="time-label"><span class="bg-aqua"> 2016年2月 </span></li>
					<li><i class="fa fa-keyboard-o bg-aqua"></i>
						<div class="timeline-item">
							<h3 class="timeline-header">オラクルマスターブロンズ11g</h3>
							<div class="timeline-body">Oracle11gの知識を保有していることを示す資格</div>
						</div></li>
					<li class="time-label"><span class="bg-purple"> 〜現在〜 </span></li>
				</ul>
			</section>
		</div>
	</div>
	<script>
    $('#certificate-menu').removeClass('active').addClass('active');
  </script>
</body>

</html>