<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::style},~{::body/content()})}">
<head>
    <title>エラー</title>
    <style></style>

</head>
<body class=" skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-ban"></i> エラー発生!</h4>
                        エラーが発生しました。
                    </div>
                </div>
            </div>
        </section>
        <section class="content container-fluid"></section>
    </div>
</div>
</body>

</html>