<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::style},~{::body/content()})}">
<head>
<title>トップページ</title>
<style></style>

</head>
<body class=" skin-blue sidebar-mini">
	<div class="wrapper">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content">
				<!-- DONUT CHART -->
				<div class="box box-danger">
					<div class="box-header with-border">
						<h3 class="box-title">Donut Chart</h3>

						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
							<button type="button" class="btn btn-box-tool" data-widget="remove">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<canvas id="pieChart" style="height: 250px"></canvas>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->

				<div class="row">
					<div class="col-lg-12">
						<div class="box box-danger">
							<div class="box-header with-border">
								<h3 class="box-title">所有デッキ一覧</h3>
							</div>
							<div class="box-body">
								<table id="decktable" class="table table-bordered">
									<thead>
										<tr>
											<th>デッキ名</th>
											<th>勝利</th>
											<th>引き分け</th>
											<th>敗北</th>
											<th>決闘数</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="deck : ${deckForm.deckList}">
											<td>
												<p th:text="${deck.deckName}" />
											</td>
											<td>
												<p th:text="${deck.win}" />
											</td>
											<td>
												<p th:text="${deck.draw}" />
											</td>
											<td>
												<p th:text="${deck.lose}" />
											</td>
											<td>
												<p th:text="${deck.lose + deck.win + deck.draw}" />
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="content container-fluid"></section>
		</div>
	</div>
	<script>
    jQuery(function($) {
      $
              .extend(
                      $.fn.dataTable.defaults,
                      {
                        language: {
                          url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
                        }
                      });

      $("#decktable").DataTable({
        // 2列目を昇順にする ( [ [ 列番号, 昇順降順 ], ... ] の形式) 
        order: [[4, "desc"]]
      });
    });
  </script>
</body>

</html>