<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::style},~{::body/content()})}">
<head>
<title>使用技術</title>
<style></style>

</head>
<body class=" skin-blue sidebar-mini">
	<div class="wrapper">
		<div class="content-wrapper">
			<section class="content">
				<div class="callout callout-info">
					<h4>使用ツール・技術</h4>
					<p>当サイトで使用したツール・技術を列挙しています！</p>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-yellow"><i class="fa fa-desktop"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">言語</span> <span class="info-box-number">Java<br/>JavaScript</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-yellow"><i class="fa fa-desktop"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">IDE</span> <span class="info-box-number">STS<br/>IntelliJ IDEA</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-yellow"><i class="fa fa-desktop"></i></span>
							<div class="info-box-content">
								<span class="info-box-text">テキストエディタ</span> <span class="info-box-number">Atom<br/>サクラエディタ
								</span>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-yellow"><i class="fa fa-desktop"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">ソース管理</span> <span class="info-box-number">Git<br/>GitHub</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-aqua"><i class="fa fa-database"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">DB</span> <span class="info-box-number">PostgreSQL</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-aqua"><i class="fa fa-database"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">O/Rマッパー</span> <span class="info-box-number">JPA</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
				</div>
				<div class="row">
					<!-- /.col -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-green"><i class="fa fa-thumbs-o-up"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">フレームワーク</span> <span class="info-box-number">SpringBoot</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-green"><i class="fa fa-thumbs-o-up"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">ログ出力</span> <span class="info-box-number">Logback</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-green"><i class="fa fa-thumbs-o-up"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">Javaフォーマッター</span> <span class="info-box-number">GoogleFormat</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-green"><i class="fa fa-thumbs-o-up"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">テスト</span> <span class="info-box-number">JUnit</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- /.col -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-red"><i class="fa fa-tablet"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">テンプレートエンジン</span> <span class="info-box-number">Thymeleaf</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-red"><i class="fa fa-tablet"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">CSSフレームワーク</span> <span class="info-box-number">AdminLTE</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-red"><i class="fa fa-tablet"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">テーブル描画</span> <span class="info-box-number">DataTables.js</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-red"><i class="fa fa-tablet"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">グラフ描画</span> <span class="info-box-number">Chart.js</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-red"><i class="fa fa-tablet"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">帳票出力</span> <span class="info-box-number">JasperReports</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-red"><i class="fa fa-tablet"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">エクセル出力</span> <span class="info-box-number">Apache POI</span>
							</div>
						</div>
					</div>
				</div>

			</section>
			<section class="content container-fluid"></section>
		</div>
	</div>
	<script>
    jQuery(function($) {
      $
              .extend(
                      $.fn.dataTable.defaults,
                      {
                        language: {
                          url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
                        }
                      });

      $("#decktable").DataTable({
        order: []
      });
    });

    $('#usetools-menu').removeClass('active').addClass('active');
  </script>
</body>

</html>